html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins" !important;
}

.navbar-nav {
  font-size: 1.1rem;
}

.card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px; /* Tambahan untuk estetika */
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahan shadow */
}

.card-body {
  flex-grow: 1;
  padding: 16px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Batasi ke 2 baris */
  -webkit-box-orient: vertical;
}

.progress-bar {
  background-color: #28a745 !important; /* Hijau Bootstrap */
}

.col-md-4 {
  margin-bottom: 20px;
}

#footer {
  background-color: #d92d2a; /* Warna latar belakang merah */
  color: white; /* Teks berwarna putih */
  padding: 20px 0; /* Memberikan padding atas dan bawah */
  font-family: Arial, sans-serif; /* Menetapkan font */
}

#footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
}

.copyright {
  font-size: 14px;
}

.footer-right p {
  font-size: 14px;
  margin-bottom: 10px; /* Memberikan jarak bawah */
}

.social-icons {
  display: flex;
  gap: 15px; /* Menambahkan jarak antar ikon */
}

.social-icon {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.social-icon:hover {
  color: #f1f1f1;
}

.social-icon.instagram:hover {
  color: #e4405f;
}

.social-icon.twitter:hover {
  color: #1da1f2;
}

.social-icon.tiktok:hover {
  color: #010101;
}

#deskripsi {
  resize: none;
}
